<?xml version="1.0"?>
<launch>
	<!-- All settings -->
	<arg name="robot_name" default="rmf_obelix"/>
	<arg name="config_folder" default="uav/gzc/niosh_exploration"/>
	<arg name="gazebo_gui_en" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="rviz_en" default="true" />
  <arg name="launch_prefix" default=""/> <!-- gdb -ex run //args -->
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

	<!-- Config files -->
	<arg name="gbplanner_config_file" default="$(find gbplanner)/config/$(arg config_folder)/gbplanner_config.yaml"/>
	<arg name="pci_file" default="$(find gbplanner)/config/$(arg config_folder)/planner_control_interface_sim_config.yaml"/>
	<arg name="voxblox_config_file" default="$(find gbplanner)/config/$(arg config_folder)/voxblox_sim_config.yaml"/>
	<arg name="map_config_file" default="$(arg voxblox_config_file)"/>

	<arg name="odometry_topic" default="/rmf_obelix/ground_truth/odometry_throttled"/>

	<!-- Simulation -->
	<include file="$(find arl_gazebo_sim)/gzc/uav_sim/launch/uav_gzc_niosh_exploration.launch">
		<arg name="robot_name" value="$(arg robot_name)"/>
		<arg name="launch_prefix" value="$(arg launch_prefix)"/>
		<arg name="gazebo_gui_en" value="$(arg gazebo_gui_en)"/>
	</include>
	<!-- Graph based planning -->
	<node pkg="gbplanner" type="gbplanner_node" name="gbplanner_node" output="screen" launch-prefix="$(arg launch_prefix)">
		<remap from="odometry" to="$(arg odometry_topic)" />
		<remap from="/pointcloud" to="/rmf_obelix/velodyne_points" />
		<remap from="query_point" to="/rmf_obelix/tsdf_query_pt"/>
		<rosparam command="load" file="$(arg gbplanner_config_file)" />
		<rosparam command="load" file="$(arg map_config_file)" />
		<remap from="local_navigation_goal" to="/move_base_simple/goal"/>
		<param name="behavior_tree_path" value="$(find gbplanner)/config/$(arg config_folder)/main_tree.xml"/>
	</node>

	<!-- Planner and Control Interface -->
	<node pkg="pci_general" type="pci_general_ros_node" name="pci_general_ros_node" output="screen">
		<remap from="command/trajectory" to="/rmf_obelix/command/trajectory" />
		<remap from="planner_server" to="gbplanner_ros" />
		<remap from="planner_homing_server" to="gbplanner/homing" />
		<remap from="odometry" to="$(arg odometry_topic)"/>     
		<rosparam command="load" file="$(arg pci_file)" />
	</node>


	<!-- Rviz -->
	<node pkg="rviz" type="rviz" name="gbplanner_ui" output="screen" args="-d $(find gbplanner)/config/$(arg config_folder)/ui.rviz"/>

</launch>
