<launch>
  <!-- All settings -->
  <arg name="robot_name" default="m100"/>
  <arg name="config_name" default="m100"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="rviz_en" default="true" />
  <arg name="launch_prefix" default=""/> <!-- gdb -ex run //args -->
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Config files -->
  <arg name="gbplanner_config_file" default="$(find gbplanner)/config/$(arg config_name)/gbplanner_subt_config.yaml"/>
  <arg name="pci_file" default="$(find gbplanner)/config/$(arg config_name)/planner_control_interface_sim_config.yaml"/>
  <arg name="octomap_config_file" default="$(find gbplanner)/config/$(arg config_name)/octomap_sim_config.yaml"/>
  <arg name="voxblox_config_file" default="$(find gbplanner)/config/$(arg config_name)/voxblox_sim_config.yaml"/>
  <arg name="map_config_file" default="$(arg voxblox_config_file)"/>

  <!-- Static TF -->
  <node pkg="tf" type="static_transform_publisher" name="tf_53" args="0 0 0 0 0 0 world navigation 100" />


  <arg name="odometry_topic" default="$(arg robot_name)/odom"/>
  <node name="pose_throttler" type="throttle" pkg="topic_tools" args="messages $(arg robot_name)/ground_truth/pose_with_covariance 10 /msf_core/pose" />
  <!-- Graph based planning -->
  <group ns="$(arg robot_name)">
    <node pkg="gbplanner" type="gbplanner_node" name="gbplanner_node" output="screen" launch-prefix="$(arg launch_prefix)">
      <remap from="odometry" to="/$(arg odometry_topic)" />
      <remap from="pointcloud" to="/$(arg robot_name)/points" />
      <rosparam command="load" file="$(arg gbplanner_config_file)" />
      <rosparam command="load" file="$(arg map_config_file)" />
    </node>

    <!-- Planner and Control Interface -->
    <node pkg="pci_mav" type="pci_mav_ros_node" name="pci_mav_ros_node" output="screen">
      <remap from="command/trajectory" to="/$(arg robot_name)/trajectory" />
      <remap from="planner_server" to="gbplanner" />
      <remap from="planner_homing_server" to="gbplanner/homing" />
      <remap from="odometry" to="/$(arg odometry_topic)"/>
      <rosparam command="load" file="$(arg pci_file)" />
    </node>

    <node pkg="rviz" type="rviz" name="gbplanner_ui" output="screen" args="-d $(find gbplanner)/config/rviz/m100_sim.rviz"/>
  </group>

</launch>
