<launch>
  <!-- All settings -->
  <arg name="robot_name" default="rmf_obelix"/>
  <arg name="config_folder" default="rmf_obelix"/>
  <arg name="gazebo_gui_en" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="rviz_en" default="true" />
  <arg name="launch_prefix" default=""/> <!-- gdb -ex run //args -->
  <arg name="gazebo_model_path" default="/home/mihir/.gazebo_backup/models"/>

  <!-- Config files -->
  <arg name="gbplanner_config_file" default="$(find gbplanner)/config/$(arg config_folder)/gbplanner_config.yaml"/>
  <arg name="pci_file" default="$(find gbplanner)/config/$(arg config_folder)/planner_control_interface_sim_config.yaml"/>
  <arg name="voxblox_config_file" default="$(find gbplanner)/config/$(arg config_folder)/voxblox_sim_config.yaml"/>
  <arg name="map_config_file" default="$(arg voxblox_config_file)"/>
  <arg name="manhole_config_file" default="$(find manhole_detector)/config/manhole_detector.yaml"/>
  <arg name="predictive_planner_config" default="$(find predictive_planning)/config/subdue_params_rmf_ls.yaml"/>
  
  <arg name="odometry_topic" default="$(arg robot_name)/ground_truth/odometry_throttled"/>
  <node name="pose_throttler" type="throttle" pkg="topic_tools" args="messages $(arg robot_name)/ground_truth/pose_with_covariance 10 /msf_core/pose" />
  <!-- Graph based planning -->
  <node pkg="gbplanner" type="gbplanner_node" name="gbplanner_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <remap from="odometry" to="$(arg odometry_topic)" />
    <remap from="/pointcloud" to="/$(arg robot_name)/velodyne_points" />
    <remap from="manhole_detections" to="/stable_detections" />
    <remap from="pcl_in" to="/rmf_obelix/velodyne_points" />
    <remap from="depth_img_in" to="/img_node/range_image" />
    <rosparam command="load" file="$(arg gbplanner_config_file)" />
    <rosparam command="load" file="$(arg map_config_file)" />
    <rosparam command="load" file="$(arg manhole_config_file)" />
    <rosparam command="load" file="$(arg predictive_planner_config)" />
  </node>

  <!-- Planner and Control Interface -->
  <!-- <node pkg="pci_general" type="pci_general_ros_node" name="pci_general_ros_node" output="screen">
    <remap from="command/trajectory" to="$(arg robot_name)/command/trajectory" />
    <remap from="planner_server" to="gbplanner" />
    <remap from="planner_homing_server" to="gbplanner/homing" />
    <remap from="odometry" to="$(arg odometry_topic)"/>
    <rosparam command="load" file="$(arg pci_file)" />
  </node> -->
  <node pkg="gbplanner_pci_rmf" type="gbplanner_pci_rmf_ros_node" name="gbplanner_pci_rmf_ros_node" output="screen">
    <remap from="command/trajectory" to="$(arg robot_name)/command/trajectory" />
    <remap from="planner_server" to="gbplanner" />
    <remap from="planner_homing_server" to="gbplanner/homing" />
    <remap from="odometry" to="$(arg odometry_topic)"/>
    <rosparam command="load" file="$(arg pci_file)" />
  </node>

  <include file="$(find manhole_detector)/launch/depth_image_publisher.launch">
    <arg name="point_cloud_topic_name" 	default="/rmf_obelix/velodyne_points"/>
  </include>

  <!-- <node pkg="rviz" type="rviz" name="gbplanner_ui" output="screen" args="-d $(find gbplanner)/config/rviz/rmf_obelix.rviz"/> -->

  <include file="$(find predictive_planning)/launch/ssg_pattern_pred.launch" />

</launch>
